# Dependencias principales para Flask
Flask
Flask-SQLAlchemy
Werkzeug
python-dotenv
gunicorn

# Librerías para manejo de datos y archivos
pandas
numpy
openpyxl
pdfminer.six
pdfplumber
pypdfium2

# Librerías para autenticación y conexión
requests
requests-oauthlib
requests_ntlm
oauthlib
cryptography
pyspnego
dnspython

# Librerías para compatibilidad y utilidades
python-dateutil
pytz
tzdata
tzlocal
packaging
six
charset-normalizer
idna
urllib3
setuptools

# Librerías específicas que usás
exchangelib
defusedxml
lxml
et_xmlfile
altgraph
cached-property
cffi
pycparser
pywin32-ctypes
sspilib
pefile
Pygments
pyinstaller
pyinstaller-hooks-contrib



